---
import Layout from "../layouts/Layout.astro";
import ImageComponent from "../components/ImageComponent.astro";
import IconWithText from "../components/IconWithText.astro";
import ButtonComponent from "../components/ButtonComponent.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div id="fetchContainer" class="flexColumn main-padding">
      <!-- Indsæt ImageComponent	-->
      <ImageComponent
        src="https://cdn2.thecatapi.com/images/ets_USqdE.jpg"
        alt="Cat Image"
      />

      <!-- 
		Indsæt tagline
		brug et <p class="text-center tiny-text"></p>
		-->
      <p class="text-center tiny-text">
        The CATalog <br />
        Delivers Cats around the clock.
      </p>

      <!-- 
		Container til ikoner med tekst 
		Inde i containeren indsæt IconWithText ---
		Kan se således ud:

			<IconWithText
          	iconSrc="../../public/icons/pasport.svg"
          	subText="/Temperament"
            id=""
        	/>
	-->
      <div class="text-container">
        <IconWithText
          iconSrc="../../public/icons/pasport.svg"
          subText="/Temperament"
          id="fetchContentOne"
        />
        <IconWithText
          iconSrc="../../public/icons/box.svg"
          subText="/Origin"
          id="fetchContentTwo"
        />
        <IconWithText
          iconSrc="../../public/icons/energy.svg"
          subText="/Energy level"
          id="fetchContentThree"
        />
      </div>
    </div>

    <!--	
		Indsæt ButtonComponent med attribute: text="Din tekst"
	 -->
    <ButtonComponent text="New Cat" />
  </main>
</Layout>
