---
const { iconSrc, mainText, subText, id } = Astro.props;
---

<div class="infoRow">
  <img class="svg-image" src={iconSrc} />
  <div class="infoColumn">
    <p id={id} class="text">{mainText}</p>
    <p class="tiny-text">{subText}</p>
  </div>
</div>

<style>
  .infoRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .infoColumn {
    display: flex;
    flex-direction: column;
  }

  .text {
    width: 100%;
    max-width: 34ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0.8rem;
  }

  .tiny-text {
    font-weight: 300;
    font-size: 0.65rem;
    margin: 0;
  }

  .svg-image {
    width: 24px;
    height: 24px;
    object-fit: contain;
    background: unset;
  }
</style>
